@import '../../../colors.scss';

:host {
    display: block;
}
.selector {
    background-color: $purple-900;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
    border-radius: 15px;
    width: 30rem;
    justify-content: space-between;
}
