@import '../../../colors.scss';
:host {
    width: 100%;
}

.selector {
    background-color: $purple-900;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
