@import '../../../../colors.scss';

.quit-button {
    background-color: $bad;
    margin-top: 10px;
    margin-bottom: 10px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
    flex: 1;
    .select-game-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        height: 100%;
        width: 100%;

        .games {
            width: 50%;
            .game {
                display: flex;
                align-items: center;
                gap: 0.25rem;
                border: 0.25rem solid black;
                padding: 0.5rem;
                background-color: $purple-900;
                text-align: center;
                justify-content: center;
            }

            .game:hover {
                cursor: pointer;
                background-color: $purple-800;
            }
        }
    }
}
