<app-global-layout>
    <div class="background">
        <app-background>
            <div class="container">
                <div class="wrapper">
                    <h1>Liste des jeux:</h1>
                    <div class="select-game-wrapper">
                        <!-- <p *ngIf=""> </p>-->
                        <div *ngFor="let game of games">
                            <!-- <button mat-fab extended color="accent" class="large-text"> -->
                            <div *ngIf="game.visibility">
                                <a [routerLink]="['/create/description', game.id]">
                                    <button mat-fab extended color="accent" class="large-text">
                                        {{ game.name }}
                                    </button>
                                </a>
                            </div>
                            <!--</button>-->
                        </div>
                    </div>
                    <div class="buttons">
                        <button routerLink="/" mat-fab extended class="large-text quit-button">Quitter</button>
                    </div>
                </div>
            </div>
        </app-background>
    </div>
</app-global-layout>
