<app-global-layout>
    <div class="background">
                <div class="wrapper">
                    <h1>Liste des jeux:</h1>
                    <div class="select-game-wrapper">
                        <!-- <p *ngIf=""> si plus de 5 question qcm crée type jeu aléatoire </p>-->
                        <div *ngFor="let game of games">
                            <div *ngIf="game.visibility">
                                <a [routerLink]="['/create/description', game._id]">
                                    <button mat-fab extended color="accent" class="large-text">
                                        {{ game.name }} 
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</app-global-layout>
