/* our colors */
$text-50: #fefbe7;
$text-100: #fdf7ce;
$text-200: #fbee9d;
$text-300: #f9e66c;
$text-400: #f7de3b;
$text-500: #f5d60a;
$text-600: #c4ab08;
$text-700: #938006;
$text-800: #625504;
$text-900: #312b02;
$text-950: #181501;

$purple-50: #eee8fd;
$purple-100: #ded0fb;
$purple-200: #bca1f7;
$purple-300: #9b72f3;
$purple-400: #7a43ef;
$purple-500: #5814eb;
$purple-600: #4710bc;
$purple-700: #350c8d;
$purple-800: #23085e;
$purple-900: #12042f;
$purple-950: #090217;

$magenta-50: #f6e6ff;
$magenta-100: #eeccff;
$magenta-200: #dd9afe;
$magenta-300: #cc67fe;
$magenta-400: #bb34fe;
$magenta-500: #aa01fe;
$magenta-600: #8801cb;
$magenta-700: #660198;
$magenta-800: #440165;
$magenta-900: #220033;
$magenta-950: #110019;

$blue-50: #e5edff;
$blue-100: #ccdbff;
$blue-200: #99b8ff;
$blue-300: #6694ff;
$blue-400: #3370ff;
$blue-500: #004cff;
$blue-600: #003dcc;
$blue-700: #002e99;
$blue-800: #001f66;
$blue-900: #000f33;
$blue-950: #00081a;

$pink-50: #fee6ed;
$pink-100: #fdcedb;
$pink-200: #fb9db7;
$pink-300: #fa6b94;
$pink-400: #f83a70;
$pink-500: #f6094c;
$pink-600: #c5073d;
$pink-700: #94052e;
$pink-800: #62041e;
$pink-900: #31020f;
$pink-950: #190108;

$orange-50: #fff4e6;
$orange-100: #ffeacc;
$orange-200: #fed49a;
$orange-300: #febf67;
$orange-400: #feaa34;
$orange-500: #fe9501;
$orange-600: #cb7701;
$orange-700: #985901;
$orange-800: #653b01;
$orange-900: #331e00;
$orange-950: #190f00;

$red-50: #ffe6e6;
$red-100: #ffcccc;
$red-200: #ff9999;
$red-300: #ff6666;
$red-400: #ff3333;
$red-500: #ff0000;
$red-600: #cc0000;
$red-700: #990000;
$red-800: #660000;
$red-900: #330000;
$red-950: #190000;

$green-50: #e6ffe6;
$green-100: #ccffcc;
$green-200: #99ff99;
$green-300: #66ff66;
$green-400: #33ff33;
$green-500: #00ff00;
$green-600: #00cc00;
$green-700: #009900;
$green-800: #006600;
$green-900: #003300;
$green-950: #001900;
