<div class="background">
    <div class="questions-container">
        <div *ngFor="let question of questionList">
            <div *ngIf="isVisible(question)" class="question">
                <div class="question-name">
                    <div class="large-text">({{ question.type }}) {{ question.text }}</div>
                </div>
                <div class="icons">
                    <mat-icon class="title-text clickable" (click)="modifyQuestionById(question._id)">edit</mat-icon>
                    <mat-icon class="title-text delete-icon clickable" (click)="deleteQuestion(question)">delete</mat-icon>
                </div>
                <div class="date">
                    <div class="small-text">{{ 'Modifié le: ' + (question.lastModification | date: 'yyyy/MM/dd HH:mm') }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
