<app-global-layout>
    <app-background>
        <div class="wrapper">
            <div class="container">
                <div class="title-text">Historique des parties</div>
                <div class="selectors">
                    <app-selector [label]="'Trier selon'" [choices]="['Nom de Jeu', 'Temps de début de partie']"></app-selector>
                    <app-selector [label]="'Ordre'" [choices]="['Ascendant', 'Descendant']"></app-selector>
                </div>
                <app-history></app-history>
                <div class="history-actions">
                    <button mat-fab extended color="primary" (click)="historyComponent.clearHistory()" class="large-text">
                        Reinitialiser l'historique
                    </button>
                </div>
            </div>
        </div>
    </app-background>
</app-global-layout>
