<app-global-layout>
    <div class="wrapper">
        <div class="container">
            <div *ngIf="hasQuestionId; else createNewGame"><div class="title large-text">Modification d'une question</div></div>
            <ng-template #createNewGame>
                <div class="title large-text">Création d'une question</div>
            </ng-template>
            <form action="">
                <div class="first">
                    <mat-form-field appearance="fill">
                        <mat-label>Titre</mat-label>
                        <input [(ngModel)]="title" matInput placeholder="Titre de la question" name="title" />
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Type de question</mat-label>
                        <mat-select>
                            <mat-option value="qcm">Choix multiples</mat-option>
                            <mat-option value="qcl">Réponse courte</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Points</mat-label>
                        <input [(ngModel)]="points" type="number" matInput placeholder="Points accordés" name="points" min="0" />
                    </mat-form-field>
                </div>
                <mat-form-field appearance="fill">
                    <mat-label>Description</mat-label>
                    <textarea
                        [(ngModel)]="description"
                        matInput
                        placeholder="Description de la question"
                        name="description"
                        maxlength="200"
                    ></textarea>
                </mat-form-field>
            </form>
            <div class="choices-container">
                <div class="choices">
                    <div *ngFor="let choice of choices; let i = index" class="choice">{{ i + 1 }}. {{ choice.label }}</div>
                </div>
                <div class="choices-buttons" *ngIf="choices.length < 4">
                    <button mat-raised-button color="primary">Ajouter une réponse</button>
                </div>
            </div>

            <div class="buttons">
                <button mat-raised-button color="primary" class="red">Annuler</button>
                <button mat-raised-button color="primary" class="green">Enregistrer</button>
            </div>
        </div>
    </div>
</app-global-layout>
