@import '../../../../colors.scss';

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .game-information-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        background-color: $purple-800;
        border-radius: 5px;
        width: 75%;
        height: 50vh;
        padding: 1rem;
        box-sizing: border-box;

        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);

        .game-title-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;
            width: 100%;

            background-color: $purple-600;
            border-radius: 5px;
            padding: 0.5rem;
            box-sizing: border-box;

            .game-description-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }

        .game-questions-container {
            flex: 1;
            width: 100%;

            background-color: $purple-600;
            border-radius: 5px;
            padding: 0.5rem;
            box-sizing: border-box;
            overflow-y: auto;
        }

        .buttons-container {
            width: 100%;
            display: flex;
            justify-content: space-between;
            button {
                width: 30%;
            }

            .quit-button {
                background-color: $red;
            }

            .create-button {
                background-color: $green;
            }
        }
    }
}
