<app-global-layout>
    <div *ngIf="quiz" class="container">
        <div class="game-information-container">
            <div class="game-title-container">
                <div class="title title-text">
                    {{ quiz.title }}
                </div>
                <div class="game-description-container">
                    <div class="description">{{ quiz.description }}</div>
                    <div class="duration">Temps alloué pour chaque question : {{ quiz.duration }} secondes</div>
                </div>
            </div>
            <div class="game-questions-container">
                <div class="box-description">
                    <div *ngFor="let quest of question; let i = index">
                        <p>{{ i + 1 }} - {{ quest.text }} ({{ quest.type }})</p>
                    </div>
                </div>
            </div>
            <div class="buttons-container">
                <button routerLink="/create" mat-raised-button class="large-text quit-button" color="primary">Retour</button>
                <button *ngIf="quiz._id !== ramdomId" (click)="testGame(quiz._id)" mat-raised-button class="large-text test-button" color="primary">
                    Tester le jeu
                </button>
                <button mat-raised-button (click)="createGame(quiz._id)" class="large-text create-button" color="primary">Créer une partie</button>
            </div>
        </div>
    </div>
</app-global-layout>
