@import '../../../colors.scss';

:host ::ng-deep .mat-icon {
    height: 100%;
    width: 100%;
}

.mat-icon:hover {
    cursor: pointer;
}

:host {
    height: 100%;
    width: 100%;

    .background {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .game {
            display: grid;
            grid-template-columns: 5fr 3fr 3fr;
            align-items: center;
            gap: 0.25rem;
            border: 0.25rem solid black;
            background-color: $purple-900;
            padding: 0.5rem;

            .icons {
                display: flex;
                justify-content: space-around;
                text-align: center;
                align-items: center;
            }

            .date {
                text-align: center;
            }

            .quiz-name {
                text-align: left;
                width: 100%;
            }
        }
    }
}
