<app-global-layout>
    <div class="container">
        <div class="wrapper">
            <div class="question-container">
                <div class="icon-container">
                    <mat-icon>
                        <span class="material-symbols-outlined"> grade </span>
                    </mat-icon>
                    <div class="text large-text">{{ actualQuestion?.question?.points }}</div>
                </div>
                <div class="question large-text">
                    {{ actualQuestion?.question?.text }}
                </div>
                <div class="icon-container">
                    <mat-icon>
                        <span class="material-symbols-outlined"> hourglass </span>
                    </mat-icon>
                    <div class="text large-text">{{ cooldown }}</div>
                </div>
            </div>
            <div class="responses-container">
                <div *ngIf="actualQuestion">
                    <ng-container *ngIf="actualQuestion.question.type === 'QCM'">
                        <div
                            *ngFor="let choice of actualQuestion.question.choices; let i = index"
                            [id]="'index-' + i"
                            class="response large-text"
                            [ngClass]="{
                                selected: isSelected(i),
                                clickable: !isFinalAnswer,
                                'not-clickable': isFinalAnswer,
                                'is-incorrect': isIncorrectAnswer(choice)
                            }"
                            [ngStyle]="{ display: isDisplayingResults() ? 'grid' : 'flex' }"
                            (click)="selectAnswer(i)"
                        >
                            <mat-icon class="full-icon" *ngIf="choice.isCorrect && isDisplayingResults()"
                                ><span class="material-symbols-outlined icon" style="color: white"> check_circle </span></mat-icon
                            >
                            <mat-icon class="full-icon" *ngIf="!choice.isCorrect && isDisplayingResults()"
                                ><span class="material-symbols-outlined icon" style="color: white"> cancel </span></mat-icon
                            >
                            <div>{{ i + 1 + '. ' + choice.text }}</div>
                        </div></ng-container
                    >
                </div>
            </div>
            <div class="buttons-container">
                <button mat-raised-button color="primary" class="button" (click)="giveUp()">
                    <span class="button-text">Abandonner</span>
                </button>
                <div class="user-data-container">Votre score actuel : {{ score }}</div>
                <button mat-raised-button color="primary" class="button" (click)="setResponseAsFinal()">
                    <span class="button-text">Valider</span>
                </button>
            </div>
            <div class="chat">
                <app-chat />
            </div>
        </div>
    </div>
</app-global-layout>
