<app-global-layout>
    <app-background>
        <div class="container">
            <div class="title title-text">Connexion au compte administrateur</div>
            <div class="wrapper">
                <div class="logo"><img src="../../../../assets/img/kakaouet.png" alt="Kakouet logo" width="300" height="300" /></div>
                <div class="form">
                    <div class="error" *ngIf="loggedState === 'Failed'">Vous avez entré un mauvais mot de passe</div>
                    <mat-form-field appearance="fill">
                        <mat-label>Entrez le mot de passe</mat-label>
                        <input matInput [(ngModel)]="password" (keyup)="onKeyEnter($event)" />
                    </mat-form-field>
                    <button mat-raised-button color="accent" (click)="submitPassword()">Connexion</button>
                </div>
            </div>
        </div>
    </app-background>
</app-global-layout>
