<div class="question-import-overlay">
    <div class="title title-text">Importer des questions</div>
    <div class="questions-container">
        <div class="question" *ngFor="let question of questionsFromBank">
            <input title="question" type="checkbox" (change)="toggleQuestionSelection(question)" [checked]="selectedQuestions.has(question)" />
            {{ question.label }}
        </div>
    </div>
    <div class="buttons-container">
        <button class="import-button" mat-raised-button (click)="importQuestions()">Importer les Questions Sélectionnées</button>
        <button (click)="cancelImportQuestions()" mat-raised-button class="cancel-button" color="warn">Annuler</button>
    </div>
</div>
