<app-global-layout>
    <div class="container">
        <div class="wrapper">
            <div class="question-container">
                <div class="icon-container">
                    <mat-icon>
                        <span class="material-symbols-outlined"> grade </span>
                    </mat-icon>
                    <div class="text large-text">{{ actualQuestion?.question?.points }}</div>
                </div>
                <div class="question large-text">
                    {{ actualQuestion?.question?.text }}
                </div>
                <div class="icon-container">
                    <mat-icon>
                        <span class="material-symbols-outlined"> hourglass </span>
                    </mat-icon>
                    <div class="text large-text">{{ cooldown }}</div>
                </div>
            </div>

            <div class="histogram-container" *ngIf="isAnsweringQRL()">
                <div class="histogram">
                    <div class="histogram-column interacted" [style.height]="interactedHeight + '%'">
                        <span class="histogram-label">{{ interactedCount }} ont modifié</span>
                    </div>
                    <div class="histogram-column not-interacted" [style.height]="notInteractedHeight + '%'">
                        <span class="histogram-label">{{ notInteractedCount }} n'ont pas modifié</span>
                    </div>
                </div>
            </div>

            <div class="stats-container-qrl" *ngIf="isCorrectingAnswers() && isQRL()">
                <div class="players-container-answer-qrl">
                    <div>{{ currentPlayer.name }}: {{ currentPlayer.answers?.answer }}</div>
                    <div>Veuillez noter sa réponse:</div>
                    <select (change)="rateAnswerQRL(currentPlayer.name, $any($event.target).value)">
                        <option [defaultSelected]="">{{ 'Choisir' }}</option>
                        <option value="0">0%</option>
                        <option value="0.5">50%</option>
                        <option value="1">100%</option>
                    </select>
                    <div>Note actuelle: {{ getRatingForPlayer(currentPlayer.name)?.toString() }}</div>
                    <button
                        *ngIf="getRatingForPlayer(currentPlayer.name)?.toString()"
                        mat-raised-button
                        color="primary"
                        (click)="sendRating(currentPlayer.name)"
                    >
                        Noter
                    </button>
                </div>
            </div>

            <ng-container *ngIf="!isQRL()">
                <div class="stats-container">
                    <div class="columns">
                        <div *ngFor="let column of choices; let i = index" class="column-container" [matTooltip]="column.text">
                            <div
                                class="column"
                                [style]="'height: ' + calculatePercentage(column.amount) * 100 + '%'"
                                [ngClass]="{ isCorrect: column.isCorrect, isIncorrect: !column.isCorrect }"
                            ></div>
                            <div class="column-label">{{ 'Choix ' + (i + 1) }} ({{ column.amount }})</div>
                        </div>
                    </div>
                    <div class="legend">
                        <div class="state">
                            <div class="color isCorrect"></div>
                            <div class="label">Correct</div>
                        </div>
                        <div class="stats">
                            {{ getAnswerAmount() + '/' + players.length }}
                        </div>
                        <div class="state">
                            <div class="color isIncorrect"></div>
                            <div class="label">Incorrect</div>
                        </div>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="isDisplayingResults() && isQRL()">
                <div class="stats-container">
                    <div class="columns">
                        <div *ngFor="let column of choices; let i = index" class="column-container" [matTooltip]="formatColumn(column)">
                            <div
                                class="column"
                                [style]="'height: ' + calculatePercentage(column.amount) * 100 + '%'"
                                [ngClass]="{ isCorrect: column.isCorrect, isIncorrect: !column.isCorrect }"
                            ></div>
                            <div class="column-label">{{ formatColumn(column) }} ({{ column.amount }})</div>
                        </div>
                    </div>
                    <div class="legend">
                        <div class="stats">
                            {{ getAnswerAmount() + '/' + players.length }}
                        </div>
                    </div>
                </div>
            </ng-container>

            <div class="game-controller-container">
                <div class="title">Panneau de contrôle</div>
                <div class="controls" *ngIf="true">
                    <button *ngIf="!isLastQuestion()" mat-raised-button color="primary" (click)="nextQuestion()">Question suivante</button>
                    <button *ngIf="isLastQuestion()" mat-raised-button color="primary" (click)="nextQuestion()">Afficher les statistiques</button>
                    <div class="timer">
                        <mat-icon>
                            <span
                                *ngIf="timerIsRunning"
                                (click)="toggleTimer()"
                                class="material-symbols-outlined clickable"
                                matTooltip="Arrêter le timer"
                            >
                                timer_pause
                            </span>
                            <span
                                *ngIf="!timerIsRunning"
                                (click)="toggleTimer()"
                                class="material-symbols-outlined clickable"
                                matTooltip="Recommencer le timer"
                            >
                                timer_play
                            </span>
                        </mat-icon>
                        <mat-icon>
                            <span class="material-symbols-outlined clickable" (click)="speedUpTimer()" matTooltip="Activer le mode panique">
                                acute
                            </span>
                        </mat-icon>
                    </div>
                </div>
            </div>

            <div class="players-container">
                <div class="players">
                    <div *ngFor="let player of filterPlayers()" class="player">
                        <div [ngClass]="{ 'has-giveup': player.hasGiveUp }" class="player-name">{{ player.name }}</div>
                        <div class="player-name">(score: {{ player.score }})</div>
                    </div>
                </div>
            </div>
            <div class="chat">
                <app-chat />
            </div>
        </div>
    </div>
</app-global-layout>
