<app-global-layout>
    <div class="container">
        <div class="wrapper">
            <div class="question-container">
                <div class="icon-container">
                    <mat-icon>
                        <span class="material-symbols-outlined"> grade </span>
                    </mat-icon>
                    <div class="text large-text">{{ getActualQuestion()?.question?.points }}</div>
                </div>
                <div class="question large-text">
                    {{ getActualQuestion()?.question?.text }}
                </div>
                <div class="icon-container">
                    <mat-icon>
                        <span class="material-symbols-outlined"> hourglass </span>
                    </mat-icon>
                    <div class="text large-text">{{ cooldown }}</div>
                </div>
            </div>

            <ng-container *ngIf="isAnsweringQRL()">
                <div class="stats-container">
                    <div class="columns">
                        <div class="column-container" [matTooltip]="'Personnes n\'ayant pas modifiés leur réponse'">
                            <div
                                class="column isCorrect"
                                [style]="
                                    'height: ' +
                                    (getHistogram().hasNotModified / (getHistogram().hasModified + getHistogram().hasNotModified)) * 100 +
                                    '%'
                                "
                            ></div>
                            <div class="column-label">{{ getHistogram().hasNotModified }}</div>
                        </div>
                        <div class="column-container" [matTooltip]="'Personnes ayant modifiés leur réponse'">
                            <div
                                class="column isCorrect"
                                [style]="
                                    'height: ' +
                                    (getHistogram().hasModified / (getHistogram().hasModified + getHistogram().hasNotModified)) * 100 +
                                    '%'
                                "
                            ></div>
                            <div class="column-label">{{ getHistogram().hasModified }}</div>
                        </div>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="isDisplayingResults() && isQRL()">
                <div class="stats-container">
                    <div class="columns">
                        <div *ngFor="let column of getChoices(); let i = index" class="column-container" [matTooltip]="formatColumn(column)">
                            <div
                                class="column"
                                [style]="'height: ' + calculatePercentage(column.amount) * 100 + '%'"
                                [ngClass]="{ isCorrect: column.isCorrect, isIncorrect: !column.isCorrect }"
                            ></div>
                            <div class="column-label">{{ formatColumn(column) }} ({{ column.amount }})</div>
                        </div>
                    </div>
                </div>
            </ng-container>

            <div class="stats-container-qrl" *ngIf="isCorrectingAnswers() && isQRL()">
                <div class="players-container-answer-qrl">
                    <div>{{ getCurrentPlayer().name }}: {{ getCurrentPlayer().answers?.answer }}</div>
                    <div>Veuillez noter sa réponse:</div>
                    <div class="middle">
                        <mat-form-field appearance="fill" class="middle">
                            <mat-select [(ngModel)]="currentRating" (ngModelChange)="rateAnswerQRL(getCurrentPlayer().name)">
                                <mat-option value="0">0%</mat-option>
                                <mat-option value="0.5">50%</mat-option>
                                <mat-option value="1">100%</mat-option>
                            </mat-select>
                            <mat-hint class="hide-subscript-wrapper"></mat-hint>
                        </mat-form-field>
                        Note actuelle: {{ getRatingForPlayer(getCurrentPlayer().name)?.toString() }}
                    </div>
                    <button
                        *ngIf="getRatingForPlayer(getCurrentPlayer().name)?.toString()"
                        mat-raised-button
                        color="primary"
                        (click)="sendRating(getCurrentPlayer().name)"
                    >
                        Noter
                    </button>
                </div>
            </div>

            <ng-container *ngIf="!isQRL()">
                <div class="stats-container">
                    <div class="columns">
                        <div *ngFor="let column of getChoices(); let i = index" class="column-container" [matTooltip]="column.text">
                            <div
                                class="column"
                                [style]="'height: ' + calculatePercentage(column.amount) * 100 + '%'"
                                [ngClass]="{ isCorrect: column.isCorrect, isIncorrect: !column.isCorrect }"
                            ></div>
                            <div class="column-label">{{ 'Choix ' + (i + 1) }} ({{ column.amount }})</div>
                        </div>
                    </div>
                    <div class="legend">
                        <div class="state">
                            <div class="color isCorrect"></div>
                            <div class="label">Correct</div>
                        </div>
                        <div class="stats">
                            {{ getAnswerAmount() + '/' + getPlayerArray().length }}
                        </div>
                        <div class="state">
                            <div class="color isIncorrect"></div>
                            <div class="label">Incorrect</div>
                        </div>
                    </div>
                </div>
            </ng-container>

            <div class="game-controller-container">
                <div class="title">Panneau de contrôle</div>
                <div class="controls" *ngIf="true">
                    <div *ngIf="!canDisableTimer(); else buttondisabled">
                        <button *ngIf="!isLastQuestion()" mat-raised-button color="primary" (click)="nextQuestion()">Question suivante</button>
                        <button *ngIf="isLastQuestion()" mat-raised-button color="primary" (click)="nextQuestion()">Afficher les statistiques</button>
                    </div>

                    <ng-template #buttondisabled>
                        <button *ngIf="!isLastQuestion()" matTooltip="Attendez les réponses des joueurs" mat-raised-button color="disabled">
                            Question suivante
                        </button>
                        <button *ngIf="isLastQuestion()" matTooltip="Attendez les réponses des joueurs" mat-raised-button color="disabled">
                            Afficher les statistiques
                        </button>
                    </ng-template>

                    <div class="timer">
                        <mat-icon>
                            <span
                                *ngIf="!canDisableTimer(); else button"
                                class="material-symbols-outlined not-clickable"
                                matTooltip="Impossible d'arrêter le timer"
                                style="color: gray"
                            >
                                timer_off
                            </span>
                            <ng-template #button>
                                <span
                                    *ngIf="timerIsRunning"
                                    (click)="toggleTimer()"
                                    class="material-symbols-outlined clickable"
                                    matTooltip="Arrêter le timer"
                                >
                                    timer_pause
                                </span>
                                <span
                                    *ngIf="!timerIsRunning"
                                    (click)="toggleTimer()"
                                    class="material-symbols-outlined clickable"
                                    matTooltip="Recommencer le timer"
                                >
                                    timer_play
                                </span>
                            </ng-template>
                        </mat-icon>
                        <mat-icon>
                            <span
                                *ngIf="canDisableTimer(); else speedbutton"
                                class="material-symbols-outlined clickable"
                                (click)="speedUpTimer()"
                                matTooltip="Activer le mode panique"
                            >
                                acute
                            </span>
                            <ng-template #speedbutton>
                                <span
                                    style="color: gray"
                                    class="material-symbols-outlined not-clickable"
                                    (click)="speedUpTimer()"
                                    matTooltip="Impossible d'activer le mode panique"
                                >
                                    timer
                                </span>
                            </ng-template>
                        </mat-icon>
                    </div>
                </div>
            </div>

            <div class="chat">
                <app-chat />
            </div>
        </div>

        <div class="right-side">
            <div class="sort-controls">
                <mat-form-field appearance="fill">
                    <mat-label>Trier par</mat-label>
                    <mat-select [(value)]="selectedCriterion" (selectionChange)="sendSortedPlayers()">
                        <mat-option [value]="sortingCriteria.name">Nom</mat-option>
                        <mat-option [value]="sortingCriteria.score">Points</mat-option>
                        <mat-option [value]="sortingCriteria.status">Status</mat-option>
                    </mat-select>
                </mat-form-field>

                <button mat-icon-button (click)="toggleSortOrder()">
                    <mat-icon>{{ sortingOrder === sortOrder.ascending ? 'arrow_upward' : 'arrow_downward' }}</mat-icon>
                </button>
            </div>

            <div class="players-container">
                <div class="players">
                    <div *ngFor="let player of filterPlayers()" class="player">
                        <div
                            [ngClass]="{
                                'player-name-no-interaction': player.interactionStatus === 'noInteraction',
                                'player-name-interacted': player.interactionStatus === 'interacted',
                                'player-name-finalized': player.interactionStatus === 'finalized',
                                'player-name-abandoned': player.interactionStatus === 'abandoned',
                                'has-giveup': player.hasGiveUp
                            }"
                            class="player-name"
                        >
                            {{ player.name }}
                        </div>
                        <div class="player-name">(score: {{ player.score }})</div>
                        <mat-icon
                            *ngIf="player.isMuted"
                            class="material-symbols-outlined clickable"
                            matTooltip="Unmute le joueur"
                            (click)="toggleMutePlayer(player)"
                            >speaker_notes_off</mat-icon
                        >
                        <mat-icon
                            *ngIf="!player.isMuted"
                            class="material-symbols-outlined clickable"
                            matTooltip="Mute le joueur"
                            (click)="toggleMutePlayer(player)"
                            >speaker_notes</mat-icon
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-global-layout>
