<app-global-layout>
    <div class="error404">
        <!-- <img src="../../../../assets/img/not-found.webp" alt="" /> -->
        <div class="container">
            <div class="error-container">
                <div class="title">Oups!</div>
                <div class="description">404 - Page introuvable</div>
                <button routerLink="/home" mat-raised-button color="primary">Retourner à la page d'accueil</button>
            </div>
            <div class="image-container">
                <app-background>
                    <img src="../../../../assets/img/not-found.webp" alt="" />
                </app-background>
            </div>
        </div>
    </div>
</app-global-layout>
