@import '../../../colors.scss';

:host {
    height: 100%;
}

.background {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.question {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 1rem 0;
    border: 0.25rem solid black;
    background-color: $purple-900;
    box-sizing: border-box;
    align-items: center;
}
.question-name {
    flex: 3;
    text-align: left;
}
.icons {
    display: flex;
    flex: 1;
    justify-content: space-around;
    text-align: center;
}
:host ::ng-deep .mat-icon {
    height: 100%;
    width: 100%;
}
