<div class="question-import-overlay">
    <div class="title title-text">Importer des questions</div>
    <div class="questions-container">
        <div class="question" *ngFor="let question of questionsFromBank">
            <mat-checkbox title="question" type="checkbox" (change)="toggleQuestionSelection(question)" [checked]="isQuestionSelected(question)" />
            {{ question.text }}
        </div>
    </div>
    <div class="buttons-container">
        <button class="good" mat-raised-button (click)="importQuestions()">Importer les Questions Sélectionnées</button>
        <button (click)="cancelImportQuestions()" mat-raised-button class="bad">Annuler</button>
    </div>
</div>
